.DS_Store
0.Raw.Data/*
1.Data/.Rhistory
2.Functions/.Rhistory
3.Code/.Rhistory
4.Results/Figure1/
4.Results/Figure2/
4.Results/Figure3/
4.Results/*.ai
4.Results/*
revision-nhb/*
.dropbox
$'Icon\r'
_Archives/*
_Notes/*
*.pdf
